[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
python-dotenv = "==0.21.0"
psycopg2 =  {version = "==2.9.3", sys_platform = "== 'win32'"}
psycopg2-binary =  {version = "==2.9.3", sys_platform = "!= 'win32'"}
requests = "*"
