[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2 =  {version = "*", sys_platform = "== 'win32'"}
psycopg2-binary =  {version = "*", sys_platform = "!= 'win32'"}
requests = "*"
