@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* global styles */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* container */
@media all and (min-width: 1024px) {
    #body-container {
        margin-left: 13rem;
        margin-right: 13rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #body-container {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    #body-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media all and (max-width: 480px) {
    #body-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#main-container {
    margin-top: 1.5rem;
}

/* cursor pointer for nav items */
.nav-pointer {
    cursor: pointer;
    margin: 0;
}